<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/bootstrap') %>
  <title>Accueil</title>
</head>
<body style="margin-top:55px ">
  <%- include('./partials/nav') %>
  <div class="container">
    <h1>Bienvenue sur <span class="text-success">EasyChat </span>!</h1>
    <h3><%= heure %></h3>
    <p class="fst-italic fw-bold ">Connectez-vous pour utiliser l'application !</p>
    <p><a href="/register" class="btn btn-primary">S'inscrire</a></p>
    <p><a href="/login" class="btn btn-primary">Se connecter</a></p>
  </div>
</body>
</html>
