<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <%- include('./partials/bootstrap') %>
</head>
<body style="margin-top:55px">
  <%- include('./partials/nav') %>
    <div class="container col-6">
      <h1 class="text-center">S'inscrire</h1>
      <form method="POST" action="/register">
        <div class="form-group">
          <label for="pseudo" class="fst-italic">Pseudo</label>
          <input type="text" class="form-control" id="pseudo" name="pseudo" required>
        </div>
        <div class="form-group">
          <label for="email" class="fst-italic">Email</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password" class="fst-italic">Mot de passe</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-group">
          <label for="status" class="fst-italic">Statut</label>
          <select class="form-control" id="status" name="status" required>
            <option value="visible" class="fst-italic">Visible</option>
            <option value="prive" class="fst-italic">Privé</option>
          </select>
        </div>
        <input type="hidden" class="form-control" id="role" name="role" value="user">
        <button type="submit" class="btn btn-primary mt-2">Inscription</button>
      </form>
    </div>
</body>
</html>